// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap/scss/bootstrap";

#admin-page {

  padding-top:0px !important;


}


#nested-comment{

  margin-top:60px;


}

.comment-reply {

  display: none;


}

